html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);

  -webkit-clip-path: inset(100%);
}

.btn {
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 59px;

  font-size: 17px;
  line-height: 18px;

  background-color: #f3f7f8;
}

.inner-page .main-header {
  margin-bottom: 21px;
}

.top-header {
  background-color: #293449;
}

.top-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 46px;
}

.top-header a {
  color: #ffffff;
}

.header-caption {
  position: relative;

  padding: 10px 55px 8px;

  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  background-color: #ee3643;
}

.header-caption::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  left: 0;

  height: 5px;

  background-color: #b52933;
}

.header-caption:hover,
.header-caption:focus {
  background-color: #ca2c37;
}

.header-caption:hover::after,
.header-caption:focus::after {
  background-color: #9a212a;
}

.header-caption:active {
  background-color: #ba2732;
}

.header-caption:active::after {
  background-color: #8e1e26;
}

.search-form {
  position: relative;
}

.search-form svg {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;

  opacity: 0.3;
}

.search-form input {
  width: 270px;
  height: 42px;
  padding: 11px 49px 12px;

  background-color: #293449;
  border: none;
}

.search-form input::-webkit-input-placeholder {
  color: #ffffff;
}

.search-form input:-ms-input-placeholder {
  color: #ffffff;
}

.search-form input::-ms-input-placeholder {
  color: #ffffff;
}

.search-form input::placeholder {
  color: #ffffff;
}

.search-form input:hover {
  background-color: #212a3a;
}

.search-form input:hover + svg,
.search-form input:focus + svg {
  opacity: 1;
}

.search-form input:focus {
  background-color: #ffffff;
  outline: none;
}

.search-form input:focus + svg path {
  opacity: 1;

  fill: #ee3643;
}

.search-form input:focus::-webkit-input-placeholder {
  color: #000000;
}

.search-form input:focus:-ms-input-placeholder {
  color: #000000;
}

.search-form input:focus::-ms-input-placeholder {
  color: #000000;
}

.search-form input:focus::placeholder {
  color: #000000;
}

.bookmarks {
  position: relative;

  width: 150px;
  padding: 12px 10px 12px 44px;
}

.bookmarks svg {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  opacity: 0.3;
}

.bookmarks:hover svg,
.bookmarks:focus svg {
  opacity: 1;
}

.bookmarks:active svg {
  opacity: 0.5;
}

.cart {
  position: relative;

  width: 150px;
  padding: 12px 10px 12px 50px;
}

.cart svg {
  position: absolute;
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  opacity: 0.3;
}

.cart:hover svg,
.cart:focus svg {
  opacity: 1;
}

.cart:active svg {
  opacity: 0.5;
}

.order {
  width: 150px;
  padding: 12px 10px 12px 20px;

  background-color: #63a63e;
}

.order:hover,
.order:focus {
  background-color: #5fbb2d;
}

.order:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #518534;
}

.bookmarks:hover,
.bookmarks:focus,
.cart:hover,
.cart:focus {
  background-color: #212a3a;
}

.bookmarks:active,
.cart:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.not-empty {
  background-color: #ee3643;
}

.not-empty:hover,
.not-empty:focus {
  background-color: #ca2c37;
}

.not-empty:active {
  background-color: #ba2732;
}

.middle-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-header h1 {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  margin: 0;
  padding: 3px 25px 0 52px;

  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}

.contacts {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

.phone {
  position: relative;

  display: inline-block;
  margin-bottom: 4px;
  padding: 10px 50px 8px 71px;

  font-size: 21px;
  line-height: 21px;
  vertical-align: middle;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.phone::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}

.contacts address {
  padding-left: 10px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  font-style: normal;
}

.login-menu {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.login-menu a {
  position: relative;

  display: inline-block;
  padding: 12px 0;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.login-menu a:hover,
.login-menu a:focus {
  color: #ee3643;
}

.login-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.login-link {
  margin-left: 19px;
}

.login-link a {
  padding-right: 26px;
  padding-left: 47px;
}

.login-link a::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.login-link a:hover::after,
.login-link a:focus::after {
  opacity: 1;
}

.login-link a:active::after {
  opacity: 0.3;
}

.registration-link a {
  padding-right: 24px;
  padding-left: 24px;
}

.main-navigation {
  margin-top: 39px;
  margin-bottom: 65px;

  line-height: 17px;
}

.logged {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

.logged-link a {
  position: relative;

  display: inline-block;
  width: 300px;
  margin-bottom: 6px;
  padding: 12px 47px;

  font-size: 21px;
  line-height: 21px;
  vertical-align: middle;
  color: #000000;
}

.logged-link a::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 14px;

  width: 20px;
  height: 18px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.logged-link a:hover::before,
.logged-link a:focus::before {
  opacity: 1;
}

.logged-link:active {
  opacity: 0.3;
}

.logout-btn a {
  position: absolute;
  top: 2px;
  right: 0;

  width: 40px;
  height: 43px;

  text-align: center;

  opacity: 0.3;
}

.logout-btn a:hover,
.logout-btn a:focus {
  opacity: 1;
}

.logout-btn a:active {
  opacity: 0.3;
}

.logged-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-left: 19px;
  padding: 0;

  list-style: none;
}

.logged-list a {
  position: relative;

  display: inline-block;
  margin-right: 32px;

  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  color: #32425c;
  text-decoration: underline;
}

.logged-list a::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -19px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 50%;
}

.logged-list li:last-child a::after {
  content: none;
}

.logged-list a:hover,
.logged-list a:focus {
  color: #ee3643;
}

.logged-list a:active {
  color: #32425c;

  opacity: 0.3;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #32425c;
}

.site-navigation li:first-child a {
  padding-left: 52px;
}

.site-navigation li:last-child a {
  padding-right: 48px;
}

.site-navigation a {
  position: relative;

  display: block;
  padding: 19px 31px;

  color: #ffffff;
}

.site-navigation a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  left: 0;

  height: 5px;

  background-color: #293449;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.site-navigation a:active::after {
  background-color: #1d2739;
}

.offers {
  margin-bottom: 53px;

  color: #ffffff;
}

.offers-list {
  display: -ms-grid;
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-gap: 20px;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 20px 1fr 20px 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.offers-list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.offers-list > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.offers-list > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.offers-list > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.offers-list > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.offers-list > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.offers-list > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.offers-list > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.offers-list > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.offers-list li {
  position: relative;

  background-repeat: no-repeat;
}

.materials {
  background-color: #ffbf47;
  background-image: url("../img/icon-materials.svg");
  background-position: 213px 31px;

  -ms-grid-column: 1;

  -ms-grid-column-span: 1;

  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.instruments {
  background-color: #3bbce3;
  background-image: url("../img/icon-instruments.svg");
  background-position: 197px 33px;

  -ms-grid-column: 2;

  -ms-grid-column-span: 1;

  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.technics {
  background-color: #dc91d8;
  background-image: url("../img/icon-technics.svg");
  background-position: 191px 31px;

  -ms-grid-column: 3;

  -ms-grid-column-span: 1;

  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.sale {
  background-color: #8ed78f;
  background-image: url("../img/icon-sale.svg");
  background-position: 196px 26px;

  -ms-grid-column: 3;

  -ms-grid-column-span: 1;

  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-delivery.svg");
  background-position: 191px 32px;

  -ms-grid-column: 3;

  -ms-grid-column-span: 1;

  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.offers-item h3 {
  margin: 0;
  margin-bottom: 12px;
  padding-top: 21px;
  padding-left: 23px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.offers-item > a {
  display: inline-block;
  width: 135px;
  margin-bottom: 22px;
  margin-left: 25px;
  padding: 10px;

  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.offers-item > a:hover,
.offers-item > a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.offers-item > a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider {
  background-color: #2c1b16;

  -ms-grid-column: 1;

  -ms-grid-column-span: 2;

  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item:nth-child(1) {
  display: none;

  background-image: url("../img/bg-drill.jpg");
  background-repeat: no-repeat;
}

.slider-item:nth-child(2) {
  display: none;

  background-image: url("../img/bg-puncher.jpg");
  background-repeat: no-repeat;
}

.slider-item h3 {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  padding-top: 23px;
  padding-left: 23px;

  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-item p {
  margin: 0;
  margin-bottom: 121px;
  padding-left: 24px;

  font-size: 18px;
  line-height: 24px;
}

.catalog-btn {
  display: inline-block;
  margin-bottom: 22px;
  margin-left: 25px;
  padding: 10px 48px;

  vertical-align: middle;

  border-radius: 5px;
}

.slider input {
  position: absolute;
  top: -1000px;
}

.slider input::before {
  content: "";
  position: absolute;
  top: 1217px;
  left: 290px;
  z-index: 1;

  width: 40px;
  height: 16px;
}

.slider input:focus::before {
  z-index: 3;

  outline: 1px solid #ffffff;
}

.slider-controls {
  position: absolute;
  bottom: 36px;
  left: 295px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 10px;
}

.slider-controls label {
  position: relative;
  z-index: 1;

  display: block;
  width: 10px;

  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-left {
  position: absolute;
  top: 114px;
  left: 25px;
  z-index: 1;

  width: 22px;
  height: 40px;

  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider-right {
  position: absolute;
  top: 114px;
  right: 20px;
  z-index: 1;

  width: 22px;
  height: 40px;

  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.btn-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

.btn-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

.btn-1:checked ~ .slider-controls .slider-controls-item-1::before,
.btn-2:checked ~ .slider-controls .slider-controls-item-2::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 2;

  width: 6px;
  height: 6px;

  background: #ee3643;
  border-radius: 50%;
}

.products,
.manufacturers {
  position: relative;

  margin-bottom: 3px;
}

.manufacturers {
  margin-bottom: 65px;
}

.products h2,
.manufacturers h2 {
  margin: 0;
  margin-bottom: 19px;
  padding: 30px 28px 30px 27px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f9f5f0;
}

.product-btn,
.manufacturer-btn {
  position: absolute;
  top: 25px;
  right: 24px;

  display: inline-block;
  width: 253px;
  padding: 10px 50px;

  vertical-align: middle;

  border-radius: 3px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.inner-page .catalog-list {
  margin-bottom: 37px;
}

.catalog-item {
  position: relative;

  -ms-flex-preferred-size: 220px;

      flex-basis: 220px;
  margin-right: 20px;
  margin-bottom: 18px;

  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;

  border: 1px solid #eaeaea;

  -webkit-transition: 0.2s all;

  -o-transition: 0.2s all;

  transition: 0.2s all;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.inner-page .catalog-item:nth-child(4n) {
  margin-right: 20px;
}

.inner-page .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.new::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  width: 60px;
  height: 60px;

  background-image: url("../img/img-flag.png");
  background-repeat: no-repeat;
}

.catalog-item .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 218px;
  height: 165px;
  margin-bottom: 14px;
}

.catalog-item h3 {
  margin: 0;
  margin-bottom: 11px;
  padding: 0 15px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.catalog-item p {
  margin: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.catalog-item .old-price {
  min-height: 18px;
  margin-left: 4px;

  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog-item .current-price {
  position: relative;

  width: 133px;
  margin: 10px auto;
  margin-bottom: 21px;
  padding: 10px 0;

  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px;
}

.catalog-item .current-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -26px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.catalog-item:hover,
.catalog-item:focus {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .catalog-btns,
.catalog-item:focus .catalog-btns {
  display: block;
}

.catalog-btns {
  position: absolute;
  top: 0;

  display: none;
  padding: 44px 42px 31px 41px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;

  background-color: #ffffff;
}

.buy-btn {
  position: relative;
  z-index: 2;

  display: inline-block;
  margin-bottom: 8px;
  padding: 10px 45px 6px 50px;

  vertical-align: middle;

  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  border-radius: 3px;
}

.buy-btn svg {
  position: absolute;
  top: 10px;
  left: 14px;

  opacity: 0.3;
}

.buy-btn:hover,
.buy-btn:focus {
  background-color: #5fbb2d;
}

.buy-btn:hover svg,
.buy-btn:focus svg {
  opacity: 1;
}

.buy-btn:active {
  background-color: #518534;
  border-color: #518534;
}

.to-bookmarks-btn {
  display: inline-block;
  padding: 7px 31px;

  vertical-align: middle;
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 3px;
}

.to-bookmarks-btn:hover,
.to-bookmarks-btn:focus {
  background-color: #ffffff;
  border-color: #32425c;
}

.to-bookmarks-btn:active {
  opacity: 0.3;
}

.manufacturers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.manufacturers-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 220px;
      flex-basis: 220px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;

  border: 1px solid #eaeaea;

  -webkit-transition: 0.2s all;

  -o-transition: 0.2s all;

  transition: 0.2s all;
}

.manufacturers-list li:nth-child(4n) {
  margin-right: 0;
}

.manufacturers-list li:hover,
.manufacturers-list li:focus {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturers-list li:active {
  -webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
          box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.services {
  margin-bottom: 79px;

  background-color: #f4f8f9;
}

.services h2,
.about-company h2,
.contact-info h2 {
  margin: 0;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services h2 {
  margin-bottom: 26px;
  padding-top: 65px;
}

.services p,
.about-company p,
.contact-info p {
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
}

.services p {
  width: 400px;
  margin-bottom: 69px;
}

.services-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.label-controls {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 240px;
  margin-bottom: 101px;

  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
}

.label-controls::after {
  content: "";
  position: absolute;
  top: -44px;
  right: 0;

  width: 10px;
  height: 272px;

  background-image: url("../img/img-separator.png");
  background-repeat: no-repeat;
}

.label-controls label {
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 22px;

  background-color: #32425c;
  border-top: 1px solid #293449;
  border-bottom: 1px solid #405069;
}

.services-slider label:hover {
  background-color: #293449;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.button1:checked ~ .label-controls label[for=button-1],
.button2:checked ~ .label-controls label[for=button-2],
.button3:checked ~ .label-controls label[for=button-3] {
  color: #32425c;

  background: #ffffff;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.button1:checked:hover ~ .label-controls label[for=button-1],
.button2:checked:hover ~ .label-controls label[for=button-2],
.button3:checked:hover ~ .label-controls label[for=button-3],
.button1:checked:focus ~ .label-controls label[for=button-1],
.button2:checked:focus ~ .label-controls label[for=button-2],
.button3:checked:focus ~ .label-controls label[for=button-3] {
  outline: 1px solid black;
}

.services-description {
  width: 620px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-description li {
  position: relative;

  display: none;
}

.delivery-item::after {
  content: "";
  position: absolute;
  top: 23px;
  right: 0;

  width: 468px;
  height: 261px;

  background-image: url("../img/img-delivery.png");
  background-repeat: no-repeat;
}

.guarantee-item::after {
  content: "";
  position: absolute;
  top: 1px;
  right: -8px;

  width: 389px;
  height: 283px;

  background-image: url("../img/img-guarantee.png");
  background-repeat: no-repeat;
}

.credit-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;

  width: 465px;
  height: 285px;

  background-image: url("../img/img-credit.png");
  background-repeat: no-repeat;
}

.services-description h3 {
  margin: 0;
  margin-bottom: 23px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.services-description p {
  width: 300px;
  margin: 0;
  margin-bottom: 27px;
}

.btn-request {
  display: inline-block;
  padding: 9px 45px;

  border-radius: 3px;
}

.button1:checked ~ .services-description .delivery-item,
.button2:checked ~ .services-description .guarantee-item,
.button3:checked ~ .services-description .credit-item {
  display: block;
}

.two-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-company {
  width: 540px;
}

.about-company h2 {
  margin-bottom: 26px;
}

.about-company p {
  margin-bottom: 24px;

  letter-spacing: 0.1px;
}

.about-company p:last-of-type {
  margin-bottom: 20px;
}

.companies-list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  list-style: none;
}

.companies-list li {
  position: relative;

  margin-bottom: 21px;
  padding-left: 36px;

  font-size: 18px;
  line-height: 20px;
}

.companies-list li::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #ee3463;
}

.about-btn {
  display: inline-block;
  margin-bottom: 86px;
  padding: 10px 40px;

  vertical-align: middle;

  border-radius: 3px;
}

.contact-info {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

.contact-info h2 {
  margin-bottom: 26px;
}

.contact-info p {
  margin-bottom: 31px;
}

.contact-info p:last-of-type {
  width: 300px;
  height: 158px;
  margin-bottom: 40px;
}

.write-btn {
  display: inline-block;
  width: 300px;
  padding: 10px 30px;

  vertical-align: middle;
  text-align: center;

  border-radius: 3px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: 21px;
  padding: 0;

  list-style: none;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.breadcrumbs a {
  position: relative;

  margin-right: 40px;

  color: #000000;
}

.breadcrumbs a::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -25px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
}

.breadcrumbs li:last-child a::after {
  content: none;
}

.page-title {
  margin-bottom: 20px;
  padding: 29px 27px;

  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  letter-spacing: -0.8px;

  background-color: #f4f4f4;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filters {
  width: 220px;
}

.filters h2 {
  margin: 0;
  margin-bottom: 11px;
  padding: 10px 19px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.filter fieldset {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  padding-bottom: 25px;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter legend {
  margin-bottom: 14px;

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.range-controls {
  position: relative;

  height: 80px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f7f3ec;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background-color: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;

  width: 20px;
  height: 20px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  position: relative;

  font-size: 0;
}

.price-controls::after {
  content: "–";
  position: absolute;
  top: 7px;
  left: 105px;

  font-size: 24px;
  color: #000000;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  text-transform: uppercase;
}

.price-controls input {
  width: 95px;
  padding: 10px 10px;

  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: #283136;

  background-color: #f7f3ec;
  border: none;
  border-radius: 5px;
}

.max-price {
  text-align: right;
}

.filter fieldset ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 34px;
}

.filter-option:last-child {
  margin-bottom: 0;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;

  -webkit-user-select: none;

     -moz-user-select: none;

      -ms-user-select: none;

          user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -34px;

  width: 23px;
  height: 23px;

  border: 2px solid #c5c5c5;
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -34px;

  width: 27px;
  height: 23px;

  background-image: url("../img/icon-checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  content: none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -35px;

  width: 25px;
  height: 25px;

  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -27px;

  width: 9px;
  height: 9px;

  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-input:hover + label::before,
.filter-input:focus + label::before,
.filter-input:hover + label::after,
.filter-input:focus + label::after {
  border-color: #b5b5b5;
}

.filter-input-radio:checked:hover + label::after,
.filter-input-radio:checked:focus + label::after {
  background-color: #b5b5b5;
}

.filter-input:disabled + label {
  opacity: 0.3;
}

.filter-btn {
  display: inline-block;
  margin-top: 34px;
  padding: 9px 38px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  vertical-align: middle;
  color: #000000;

  background-color: transparent;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: transparent;
}

.catalog {
  width: 700px;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 21px;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.sort h2 {
  display: inline-block;
  margin: 0;
  margin-right: 120px;
  padding: 10px 19px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 10px;
  margin-right: 48px;
  padding: 0;

  list-style: none;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.sort-list a {
  margin-right: 68px;

  color: #000000;

  border-bottom: 1px dotted #ee3643;
  opacity: 0.3;
}

.sort-current a {
  color: #ee3643;

  border-bottom: none;
  opacity: 1;
}

.sort-list li:nth-child(3n) a {
  margin-right: 0;
}

.sort-list a:hover,
.sort-list a:focus {
  color: #000000;

  border-bottom-style: solid;
  opacity: 1;
}

.sort-list a:active {
  color: #ee3643;

  border-bottom: none;
}

.sort-list .sort-current a:hover,
.sort-list .sort-current a:focus {
  color: #ee3643;

  border-bottom: none;
}

.sort-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 8px;
  padding: 0;

  list-style: none;
}

.sort-arrows a {
  margin-right: 20px;

  opacity: 0.3;
}

.sort-arrows li:last-child a {
  margin-right: 0;
}

.sort-arrows .sort-current a {
  opacity: 1;

  fill: #ee3643;
}

.sort-arrows a:hover,
.sort-arrows a:focus {
  opacity: 1;
}

.sort-arrows a:active {
  fill: #ee3643;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: 59px;
  padding: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 9px 14px;

  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-item-next a {
  width: 141px;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ee3643;
  border-color: #ee3643;
}

.pagination-item:hover a,
.pagination-item:focus a {
  border-color: #bdc6ca;
}

.pagination-item-current:hover a,
.pagination-item-current:focus a {
  border-color: #ee3643;
}

.pagination-item:active a {
  border-color: #ee3643;
}

.about-product {
  padding-bottom: 68px;

  background-color: #f2f6f8;
}

.about-product h2 {
  margin: 0;
  margin-bottom: 26px;
  padding-top: 66px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-product p {
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  letter-spacing: 0.1px;
}

.main-footer {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.top-footer {
  padding-bottom: 49px;

  background-color: #32425c;
}

.top-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column-left {
  -ms-flex-preferred-size: 340px;
      flex-basis: 340px;
}

.column-right {
  -ms-flex-preferred-size: 550px;
      flex-basis: 550px;
}

.footer-caption {
  display: inline-block;
  margin-bottom: 28px;
  padding: 19px 41px 14px;

  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border-bottom: 5px solid #b52933;

  -webkit-transition: 0.5s all;

  -o-transition: 0.5s all;

  transition: 0.5s all;
}

.footer-caption:hover,
.footer-caption:focus {
  background-color: #ca2c37;
  border-bottom-color: #9a212a;
}

.footer-caption:active {
  background-color: #ba2732;
  border-bottom-color: #8e1e26;
}

.top-footer address {
  width: 340px;
  padding-left: 3px;

  font-style: normal;
}

.top-footer a {
  color: #ffffff;
}

.footer-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-navigation .first-row-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 38px;
  margin-bottom: 34px;
}

.footer-navigation .second-row-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 25px;
}

.second-row-nav a {
  color: #ffd180;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  text-decoration: underline;
}

.footer-navigation a:active {
  text-decoration: none;

  opacity: 0.5;
}

.footer-bottom {
  padding-bottom: 30px;

  background-color: #293449;
}

.footer-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-bottom p {
  margin: 0;

  font-size: 16px;
  line-height: 18px;
}

.container .copyright {
  -ms-flex-preferred-size: 230px;
      flex-basis: 230px;
  margin-top: 37px;
  margin-right: 161px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 130px;
  margin: 0;
  margin-top: 35px;
  margin-right: 120px;
  padding: 0;

  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41px;
  height: 41px;

  background-color: #212a3a;
  border-radius: 50%;

  -webkit-transition: 0.5s all;

  -o-transition: 0.5s all;

  transition: 0.5s all;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.social-button:active {
  background-color: #ee3643;
}

.footer-bottom .feedback {
  -ms-flex-preferred-size: 140px;
      flex-basis: 140px;
  margin-top: 37px;
}

.footer-bottom .created-by {
  -ms-flex-preferred-size: 110px;
      flex-basis: 110px;
  margin-top: 37px;
  margin-left: auto;
}

.footer-bottom a {
  color: #ffd180;
}

.footer-bottom a:hover,
.footer-bottom a:focus {
  text-decoration: underline;
}

.footer-bottom a:active {
  color: #ee3643;
  text-decoration: none;
}

.modal {
  position: fixed;
  top: 428px;
  left: 50%;

  -webkit-transform: translateX(-50%);

      -ms-transform: translateX(-50%);

          transform: translateX(-50%);
}

.modal-feedback {
  z-index: 2;

  display: none;
  width: 620px;

  border-top: 6px solid #ee3643;
  -webkit-box-shadow: 0 10px 17px rgba(41, 52, 73, 1);
          box-shadow: 0 10px 17px rgba(41, 52, 73, 1);
}

.modal-feedback p {
  -ms-flex-preferred-size: 220px;
      flex-basis: 220px;
  margin: 0;
  margin-bottom: 18px;
}

.feedback-form .inputs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 45px 80px 0;

  background-color: #ffffff;
}

.feedback-form label {
  font-size: 18px;
  line-height: 18px;
}

.feedback-form input {
  width: 100%;
  margin-top: 5px;
  padding: 8px 14px;

  border-radius: 3px;
}

.feedback-form input:hover {
  border-color: #b5b5b5;
}

.feedback-form input:focus {
  border-color: #ee3643;
  outline: none;
}

.feedback-form textarea {
  width: 460px;
  margin-top: 6px;
  margin-bottom: 10px;
  padding: 8px 13px 12px;
}

.feedback-form textarea:hover {
  border-color: #b5b5b5;
}

.feedback-form textarea:focus {
  border-color: #ee3643;
  outline: none;
}

.feedback-form input,
.feedback-form textarea {
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;

  border: 2px solid #dee3e4;
}

.feedback-form input::-webkit-input-placeholder,
.feedback-form textarea::-webkit-input-placeholder {
  color: #a9a9a9;
}

.feedback-form input:-ms-input-placeholder,
.feedback-form textarea:-ms-input-placeholder {
  color: #a9a9a9;
}

.feedback-form input::-ms-input-placeholder,
.feedback-form textarea::-ms-input-placeholder {
  color: #a9a9a9;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  color: #a9a9a9;
}

.feedback-form .btn-wrapper {
  margin-bottom: 0;
  padding: 38px 81px;

  background-color: #f4f4f4;
}

.feedback-btn {
  display: inline-block;
  padding: 10px 199px;

  vertical-align: middle;

  border: none;
  border-radius: 3px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 21px;
  height: 21px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
  opacity: 0.3;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -3px;

  width: 27px;
  height: 4px;

  background-color: #fb565a;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal-map {
  position: fixed;
  top: 256px;

  display: none;
  width: 940px;
  height: 446px;

  -webkit-box-shadow: 0 10px 17px rgba(41, 52, 73, 1);

          box-shadow: 0 10px 17px rgba(41, 52, 73, 1);
}

.modal-map iframe {
  position: absolute;

  border: none;
}

.modal-map p {
  margin: 0;
}

.modal-added-to-card {
  top: 312px;
  z-index: 2;

  display: none;
  width: 620px;
  padding: 17px 33px 0;

  background-color: #ffffff;
  border-top: 6px solid #ee3643;
  -webkit-box-shadow: 0 12px 40px #000000;
          box-shadow: 0 12px 40px #000000;
}

.modal-added-to-card h2 {
  position: relative;

  margin: 0;
  margin-top: 48px;
  margin-bottom: 68px;
  padding-left: 57px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.modal-added-to-card h2::before {
  content: "";
  position: absolute;
  top: -17px;
  left: 49px;

  width: 66px;
  height: 66px;

  background-image: url("../img/icon-added.svg");
  background-repeat: no-repeat;
}

.modal-added-to-card .btn-wrapper {
  width: 620px;
  margin: 0;
  margin-left: -33px;
  padding: 44px 81px;

  background-color: #f1f1f1;
}

.checkout-btn {
  margin-right: 18px;
  padding: 10px 60px;

  border-radius: 3px;
}

.continue-btn {
  padding: 10px 44px;

  color: #000000;

  background-color: #ffffff;
  border-radius: 3px;
}

.continue-btn:hover,
.continue-btn:focus {
  background-color: #ffffff;
}

.modal-show {
  display: block;

  -webkit-animation-name: fadeIn;

          animation-name: fadeIn;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.modal-error {
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: translateX(-50%) scale3d(1, 1, 1);
            transform: translateX(-50%) scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: translateX(-50%) scale3d(1.05, 1.05, 1.05);
            transform: translateX(-50%) scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: translateX(-50%) scale3d(1, 1, 1);
            transform: translateX(-50%) scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: translateX(-50%) scale3d(1, 1, 1);
            transform: translateX(-50%) scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: translateX(-50%) scale3d(1.05, 1.05, 1.05);
            transform: translateX(-50%) scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: translateX(-50%) scale3d(1, 1, 1);
            transform: translateX(-50%) scale3d(1, 1, 1);
  }
}
