html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  display: grid;
  margin: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;

  grid-template-columns: 1fr 940px 1fr;
  grid-template-rows: repeat(3, auto);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);

  -webkit-clip-path: inset(100%);
}

.btn {
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  /*grid-column: 2/3;*/
}

.main-header {
  margin-bottom: 59px;

  font-size: 17px;
  line-height: 18px;

  background-color: #f3f7f8;

  grid-column: 1/-1;
}

.top-header {
  background-color: #293449;
}

.top-header .container {
  display: flex;
  margin-bottom: 46px;
}

.top-header a {
  color: #ffffff;
}

.header-caption {
  position: relative;

  padding: 10px 55px 8px;

  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  background-color: #ee3643;
}

.header-caption::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  left: 0;

  height: 5px;

  background-color: #b52933;
}

.header-caption:hover,
.header-caption:focus {
  background-color: #ca2c37;
}

.header-caption:hover::after,
.header-caption:focus::after {
  background-color: #9a212a;
}

.header-caption:active {
  background-color: #ba2732;
}

.header-caption:active::after {
  background-color: #8e1e26;
}

.search-form {
  position: relative;
}

.search-form svg {
  position: absolute;
  top: 12px;
  left: 17px;

  opacity: 0.3;
}

.search-form input {
  width: 270px;
  padding: 11px 49px 12px;

  background-color: #293449;
  border: none;
}

.search-form input::placeholder {
  color: #ffffff;
}

.search-form input:hover {
  background-color: #212a3a;
}

.search-form input:hover + svg {
  opacity: 1;
}

.search-form input:focus {
  background-color: #ffffff;
  outline: none;
}

.search-form input:focus + svg path {
  opacity: 1;

  fill: #ee3643;
}

.search-form input:focus::placeholder {
  color: #000000;
}


.bookmarks {
  position: relative;

  padding: 12px 28px 12px 44px;
}

.bookmarks svg {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  opacity: 0.3;
}

.bookmarks:hover svg,
.bookmarks:focus svg {
  opacity: 1;
}

.bookmarks:active svg {
  opacity: 0.5;
}

.cart {
  position: relative;

  padding: 12px 31px 12px 50px;
}

.cart svg {
  position: absolute;
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  opacity: 0.3;
}

.cart:hover svg,
.cart:focus svg {
  opacity: 1;
}

.cart:active svg {
  opacity: 0.5;
}

.order {
  padding: 12px 21px 12px 20px;

  background-color: #63a63e;
}

.order:hover,
.order:focus {
  background-color: #5fbb2d;
}

.order:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #518534;
}

.bookmarks:hover,
.bookmarks:focus,
.cart:hover,
.cart:focus {
  background-color: #212a3a;
}

.bookmarks:active,
.cart:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.middle-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.middle-header h1 {
  flex-basis: 300px;
  margin: 0;
  padding: 3px 25px 0 52px;

  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}

.contacts {
  flex-basis: 300px;
}

.phone {
  position: relative;

  display: inline-block;
  margin-bottom: 4px;
  padding: 10px 50px 8px 71px;

  font-size: 21px;
  line-height: 21px;
  vertical-align: middle;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.phone::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
}

.contacts address {
  padding-left: 10px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  font-style: normal;
}

.login-menu {
  display: flex;
  flex-basis: 300px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.login-menu a {
  position: relative;

  display: inline-block;
  padding: 12px 0;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.login-menu a:hover,
.login-menu a:focus {
  color: #ee3643;
}

.login-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.login-link {
  margin-left: 19px;
}

.login-link a {
  padding-right: 26px;
  padding-left: 47px;
}

.login-link a::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  opacity: 0.3;
}

.login-link a:hover::after,
.login-link a:focus::after {
  opacity: 1;
}

.login-link a:active::after {
  opacity: 0.3;
}

.registration-link a {
  padding-right: 24px;
  padding-left: 24px;
}

.main-navigation {
  margin-top: 39px;
  margin-bottom: 65px;

  line-height: 17px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #32425c;
}

.site-navigation li:first-child a {
  padding-left: 52px;
}

.site-navigation li:last-child a {
  padding-right: 48px;
}

.site-navigation a {
  position: relative;

  display: block;
  padding: 19px 31px;

  color: #ffffff;
}

.site-navigation a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  left: 0;

  height: 5px;

  background-color: #293449;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.site-navigation a:active::after {
  background-color: #1d2739;
}

.offers {
  margin-bottom: 53px;

  color: #ffffff;
}

main {
  grid-column: 1/-1;
}

.offers-list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.offers-list li {
  position: relative;

  background-repeat: no-repeat;
}

.materials {
  background-color: #ffbf47;
  background-image: url("../img/icon-materials.svg");
  background-position: 213px 31px;

  grid-column: 1/2;
  grid-row: 1/2;
}

.instruments {
  background-color: #3bbce3;
  background-image: url("../img/icon-instruments.svg");
  background-position: 197px 33px;

  grid-column: 2/3;
  grid-row: 1/2;
}

.technics {
  background-color: #dc91d8;
  background-image: url("../img/icon-technics.svg");
  background-position: 191px 31px;

  grid-column: 3/4;
  grid-row: 1/2;
}

.sale {
  background-color: #8ed78f;
  background-image: url("../img/icon-sale.svg");
  background-position: 196px 26px;

  grid-column: 3/4;
  grid-row: 2/3;
}

.delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-delivery.svg");
  background-position: 191px 32px;

  grid-column: 3/4;
  grid-row: 3/4;
}

.slider {
  position: relative;

  background-color: #2c1b16;

  grid-column: 1/3;
  grid-row: 2/4;
}

.offers-item h3 {
  margin: 0;
  margin-bottom: 12px;
  padding-top: 21px;
  padding-left: 23px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.offers-item > a {
  display: inline-block;
  width: 135px;
  margin-bottom: 22px;
  margin-left: 25px;
  padding: 10px 10px;

  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.offers-item > a:hover,
.offers-item > a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.offers-item > a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-controls {
  position: absolute;
  bottom: 36px;
  left: 295px;

  display: flex;
  justify-content: space-between;
  width: 30px;
  height: 10px;
}

.slider-controls label {
  position: relative;
  z-index: 1;

  display: block;
  width: 10px;

  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}


.btn-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

.btn-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

.btn-1:checked ~ .slider-controls .slider-controls-item-1::before,
.btn-2:checked ~ .slider-controls .slider-controls-item-2::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 2;

  width: 6px;
  height: 6px;

  background: #ee3643;
  border-radius: 50%;
}

.slider-item:nth-child(1) {
  display: none;

  background-image: url("../img/bg-drill.jpg");
  background-repeat: no-repeat;
}

.slider-item:nth-child(2) {
  display: none;

  background-image: url("../img/bg-puncher.jpg");
  background-repeat: no-repeat;
}

.slider-item h3 {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  padding-top: 23px;
  padding-left: 23px;

  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-item p {
  margin: 0;
  margin-bottom: 121px;
  padding-left: 24px;

  font-size: 18px;
  line-height: 24px;
}

.catalog-btn {
  display: inline-block;
  margin-bottom: 22px;
  margin-left: 25px;
  padding: 10px 48px;

  vertical-align: middle;

  border-radius: 5px;
}

.slider-left {
  position: absolute;
  top: 114px;
  left: 25px;
  z-index: 1;

  width: 22px;
  height: 40px;

  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider-right {
  position: absolute;
  top: 114px;
  right: 20px;
  z-index: 1;

  width: 22px;
  height: 40px;

  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.products,
.manufacturers {
  position: relative;

  margin-bottom: 21px;
}

.manufacturers {
  margin-bottom: 65px;
}

.products h2,
.manufacturers h2 {
  margin: 0;
  margin-bottom: 19px;
  padding: 30px 28px 30px 27px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f9f5f0;
}

.product-btn,
.manufacturer-btn {
  position: absolute;
  top: 25px;
  right: 24px;

  display: inline-block;
  width: 253px;
  padding: 10px 50px;

  vertical-align: middle;

  border-radius: 3px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  flex-basis: 220px;
  margin-right: 20px;

  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;

  border: 1px solid #eaeaea;
}

.catalog-item:last-child {
  margin-right: 0;
}

.new::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  width: 60px;
  height: 59px;

  background-image: url("../img/img-flag.png");
}

.catalog-item .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 165px;
  margin-bottom: 14px;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item h3 {
  margin: 0;
  margin-bottom: 12px;
  padding: 0 15px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.catalog-item:nth-child(4n) h3 {
  margin-bottom: 40px;
}

.catalog-item h3 a {
  color: #000000;
}

.catalog-item p {
  margin: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.catalog-item .old-price {
  margin-bottom: 10px;

  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog-item .current-price {
  position: relative;

  width: 132px;
  margin: 10px auto;
  margin-bottom: 21px;
  padding: 9px 0;

  color: #ffffff;

  background: #ee3643;
  background-color: #ee3643;
  border-radius: 3px;
}

.catalog-item .current-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -26px;

  width: 0;
  height: 0;

  border: 18px solid white;
  border-left-color: #ee3643;
}

.catalog-item:hover .catalog-btns,
.catalog-item:focus .catalog-btns {
  display: block;
}

.catalog-btns {
  position: absolute;
  top: 0;

  display: none;
  padding: 44px 42px 31px 41px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;

  background-color: #ffffff;
}

.buy-btn {
  position: relative;
  z-index: 2;

  display: inline-block;
  margin-bottom: 8px;
  padding: 10px 45px 6px 50px;

  vertical-align: middle;

  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  border-radius: 3px;
}

.buy-btn svg {
  position: absolute;
  top: 10px;
  left: 14px;

  opacity: 0.3;
}

.buy-btn:hover,
.buy-btn:focus {
  background-color: #5fbb2d;
}

.buy-btn:hover svg,
.buy-btn:focus svg {
  opacity: 1;
}

.buy-btn:active {
  background-color: #518534;
  border-color: #518534;
}

.to-bookmarks-btn {
  display: inline-block;
  padding: 7px 31px;

  vertical-align: middle;
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 3px;
}

.to-bookmarks-btn:hover,
.to-bookmarks-btn:focus {
  background-color: #ffffff;
  border-color: #32425c;
}

.to-bookmarks-btn:active {
  opacity: 0.3;
}

.manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.manufacturers-list li {
  display: flex;
  flex-basis: 220px;
  justify-content: center;
  align-items: center;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;

  border: 1px solid #eaeaea;
}

.manufacturers-list li:nth-child(4n) {
  margin-right: 0;
}

.manufacturers-list li:hover,
.manufacturers-list li:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturers-list li:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.services {
  margin-bottom: 79px;

  background-color: #f4f8f9;
}

.services h2,
.about-company h2,
.contact-info h2 {
  margin: 0;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services h2 {
  margin-bottom: 26px;
  padding-top: 65px;
}

.services p,
.about-company p,
.contact-info p {
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
}

.services p {
  width: 400px;
  margin-bottom: 69px;
}

.services-slider {
  display: flex;
  justify-content: space-between;
}

.label-controls {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 240px;
  margin-bottom: 101px;

  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
}

.label-controls::after {
  content: "";
  position: absolute;
  top: -44px;
  right: 0;

  width: 10px;
  height: 272px;

  background-image: url("../img/img-separator.png");
  background-repeat: no-repeat;
}

.label-controls label {
  padding-top: 13px;
  padding-bottom: 17px;
  padding-left: 22px;

  background-color: #32425c;
  border-bottom: 1px solid #4e637c;
}

.button1:checked ~ .label-controls label[for=button-1],
.button2:checked ~ .label-controls label[for=button-2],
.button3:checked ~ .label-controls label[for=button-3] {
  color: #32425c;

  background: #ffffff;
  border-bottom-color: transparent;
}

.services-description {
  width: 620px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-description li {
  position: relative;

  display: none;
}

.delivery-item::after {
  content: "";
  position: absolute;
  top: 23px;
  right: 0;

  width: 468px;
  height: 261px;

  background-image: url("../img/img-delivery.png");
  background-repeat: no-repeat;
}

.guarantee-item::after {
  content: "";
  position: absolute;
  top: 1px;
  right: -8px;

  width: 389px;
  height: 283px;

  background-image: url("../img/img-guarantee.png");
  background-repeat: no-repeat;
}

.credit-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;

  width: 465px;
  height: 285px;

  background-image: url("../img/img-credit.png");
  background-repeat: no-repeat;
}

.services-description h3 {
  margin: 0;
  margin-bottom: 23px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.services-description p {
  width: 300px;
  margin: 0;
  margin-bottom: 27px;
}

.btn-request {
  display: inline-block;
  padding: 9px 45px;

  border-radius: 3px;
}

.button1:checked ~ .services-description .delivery-item,
.button2:checked ~ .services-description .guarantee-item,
.button3:checked ~ .services-description .credit-item {
  display: block;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.about-company {
  width: 540px;
}

.about-company h2 {
  margin-bottom: 26px;
}

.about-company p {
  margin-bottom: 24px;

  letter-spacing: 0.1px;
}

.about-company p:last-of-type {
  margin-bottom: 20px;
}

.companies-list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  list-style: none;
}

.companies-list li {
  position: relative;

  margin-bottom: 21px;
  padding-left: 36px;

  font-size: 18px;
  line-height: 20px;
}

.companies-list li::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #ee3463;
}

.about-btn {
  display: inline-block;
  margin-bottom: 86px;
  padding: 10px 40px;

  vertical-align: middle;

  border-radius: 3px;
}

.contact-info {
  flex-basis: 300px;
}

.contact-info h2 {
  margin-bottom: 26px;
}

.contact-info p {
  margin-bottom: 31px;
}

.contact-info p:last-of-type {
  width: 300px;
  height: 158px;
  margin-bottom: 40px;
}

.write-btn {
  display: inline-block;
  width: 300px;
  padding: 10px 30px;

  vertical-align: middle;
  text-align: center;

  border-radius: 3px;
}

.main-footer {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  grid-column: 1/-1;
}

.top-footer {
  padding-bottom: 49px;

  background-color: #32425c;
}

.top-footer .container {
  display: flex;
  justify-content: space-between;
}

.column-left {
  flex-basis: 340px;
}

.column-right {
  flex-basis: 550px;
}

.footer-caption {
  display: inline-block;
  margin-bottom: 28px;
  padding: 19px 41px 14px;

  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.footer-caption:hover,
.footer-caption:focus {
  background-color: #ca2c37;
  border-bottom-color: #9a212a;
}

.footer-caption:active {
  background-color: #ba2732;
  border-bottom-color: #8e1e26;
}

.top-footer address {
  width: 340px;
  padding-left: 3px;

  font-style: normal;
}

.top-footer a {
  color: #ffffff;
}

.footer-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-navigation .first-row-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 38px;
  margin-bottom: 34px;
}

.footer-navigation .second-row-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 25px;
}

.second-row-nav a {
  color: #ffd180;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  text-decoration: underline;
}

.footer-navigation a:active {
  text-decoration: none;

  opacity: 0.5;
}

.footer-bottom {
  padding-bottom: 30px;

  background-color: #293449;
}

.footer-bottom .container {
  display: flex;
  flex-wrap: wrap;
}

.footer-bottom p {
  margin: 0;

  font-size: 16px;
  line-height: 18px;
}

.container .copyright {
  flex-basis: 230px;
  margin-top: 37px;
  margin-right: 161px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 130px;
  margin: 0;
  margin-top: 35px;
  margin-right: 120px;
  padding: 0;

  list-style: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;

  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.social-button:active {
  background-color: #ee3643;
}

.footer-bottom .feedback {
  flex-basis: 140px;
  margin-top: 37px;
}

.footer-bottom .created-by {
  flex-basis: 110px;
  margin-top: 37px;
  margin-left: auto;
}

.footer-bottom a {
  color: #ffd180;
}

.footer-bottom a:hover,
.footer-bottom a:focus {
  text-decoration: underline;
}

.footer-bottom a:active {
  color: #ee3643;
  text-decoration: none;
}

.modal {
  position: fixed;
  top: 428px;
  left: 50%;

  transform: translateX(-50%);
}

.modal-feedback {
  display: none;
  width: 620px;

  border-top: 6px solid #ee3643;
  box-shadow: 0 10px 17px rgba(41, 52, 73, 1);
}

.modal-feedback p {
  flex-basis: 220px;
  margin: 0;
  margin-bottom: 18px;
}

.feedback-form .inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 45px 80px 0;

  background-color: #ffffff;
}

.feedback-form label {
  font-size: 18px;
  line-height: 18px;
}

.feedback-form input {
  width: 100%;
  margin-top: 5px;
  padding: 8px 14px;

  border-radius: 3px;
}

.feedback-form textarea {
  width: 460px;
  margin-top: 6px;
  margin-bottom: 10px;
  padding: 8px 13px 12px;
}

.feedback-form input,
.feedback-form textarea {
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;

  border: 2px solid #dee3e4;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  color: #a9a9a9;
}

.feedback-form .btn-wrapper {
  margin-bottom: 0;
  padding-bottom: 38px;

  background-color: #f4f4f4;
}

.btn-wrapper {
  padding: 38px 81px 0;
}

.feedback-btn {
  display: inline-block;
  padding: 10px 199px;

  vertical-align: middle;

  border: none;
  border-radius: 3px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 21px;
  height: 21px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
  opacity: 0.3;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -3px;

  width: 27px;
  height: 4px;

  background-color: #fb565a;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal-map {
  position: fixed;
  top: 256px;

  display: none;
  width: 940px;
  height: 446px;

  box-shadow: 0 10px 17px rgba(41, 52, 73, 1);
}

.modal-map p {
  margin: 0;
}
